/* geral */
*{
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* criando váriaveis para as cores que forem ser utilizadas */
:root{
    --text-color: #667085;
    --main-color: #8E2424; 
    --title-color:#101828;
}

/* css - menu header */
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5rem;
    left: 0px;
    right: 0px;
    top: 0px;
}

a{
    text-decoration: none;
    color: var(--title-color);
}
ul li{
    text-decoration: none;
    list-style: none;
    color: var(--title-color);
}

.box_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2rem;

}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;

}
.title_logo{
    font-weight: 500;
    font-size: 1.1rem;
    margin-left: 1rem;
}
.list_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.list_header{
    font-weight: 500;
    font-size: 1rem;
    color: var(--text-color);
    line-height: 1.5rem;
}
li{
    padding-right: 4rem;
}
.btn{
    margin-right: 2rem;
}
#entrar{
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--text-color);
    line-height: 1.5rem;
}
#cadastrar{
    background: var(--main-color);
    border: 1px solid var(--main-color);
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 0.5rem;
    padding: 10px 18px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
}

/* section cabeçalho */
.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0px;
}
.span_cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.span_cabecalho > span{
    color: var(--main-color);
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
}
.title_cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 2rem;
}
.title_cabecalho > h1{
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.75rem;
    letter-spacing: -0.02rem;
    color: var(--title-color);
}
.pr_cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0px 0px;
    width: 790px;
}
.pr_cabecalho > p{
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
    text-align: center;
    color: var(--text-color);
}

/* css - section - métricas */
.metricas{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 2rem;
}
.container_metricas{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    grid-gap: 2rem;
}
.content_box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}
.title_number > h1{
    font-style: normal;
    font-weight: 600;
    font-size: 3.75rem;
    line-height: 4.5rem;
    letter-spacing: -0.02rem;
    color: var(--main-color);
}
.pr_metricas{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 280px;
    height: 84px;
}
.pr_metricas > span{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--title-color);
}
.pr_metricas > p{
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color:var(--text-color);
    
}

/* css - section - talentos */
.container_talentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
}
.box_text_talentos{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.item_text_talentos{
    padding: 1rem;
}
.box_text_talentos > span{
    color: var(--main-color);
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.5rem;
    background: rgba(142, 36, 36, 0.05);
    border-radius: 1rem;
    padding: 0.25rem 1rem;
}
.box_text_talentos > h1{
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    letter-spacing: -0.02rem;
    color: var(--title-color);
}
.box_text_talentos > p{
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.9rem;
    color:var(--text-color);
}

/* css - section - vagas */
.vagas{
    padding: 6rem;
}
.box_vagas{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}
.item1{
    margin-bottom: 4rem;
}
.content_vagas > span{
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.9rem;
    color: var(--title-color);
}
.content_vagas{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card_vagas{
    background: #ffffff;
    border: 1px solid #eaecf0;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 1.5rem 1.5rem 1.75rem;
    width: 800px;
    margin-bottom: 1.5rem;
}
.titulo_vagas{
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1rem;
    color: var(--title-color);
}
.inf_vagas > span{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--text-color);
}

/* css - section - depoimentos */
.depoimentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 6rem;
}
.content_depoimentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(196, 25, 25, 0.03);
    border-radius: 1rem;
    padding: 4rem;
    width: 1200px;
    height: 400px;
}
.pr_depoimentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
}
.pr_depoimentos > span{
    font-style: normal;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1.25rem;
    text-align: center;
    color: var(--main-color);
}
.pr_depoimentos > h1{
    font-style: normal;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 2.75rem;
    text-align: center;
    letter-spacing: -0.02rem;
    color: var(--title-color);
}
.atribuicao_depoimentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0px;
}
.text_avatar{
    display: flex;
    flex-direction: column;
}
.titulo_avatar{
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    color: var(--title-color);
}
.subtitulo_avatar{
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.25rem;
    text-align: center;
    color: var(--text-color);
}

/* css - section/footer - formulário */
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0px;
    background: #F9FAFB;
}
.container_form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 2rem;
}
.content_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 2rem 0px;
}
.pr_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 2.5rem 0px;
}
.pr_form > h1{
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    text-align: center;
    letter-spacing: -0.02rem;
    color: var(--title-color);
}
.pr_form > span{
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.9rem;
    text-align: center;
    color: var(--text-color);
}
.content_input{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
}
#email{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 360px;
    height: 48px;
    padding: 0.75rem 0.9rem 0.75rem 1rem;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    margin: 0px 1rem;
}
::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--text-color);
}
.text_form_footer > span{
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    color:#98A2B3;
}
