/* geral */
*{
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* criando váriaveis para as cores que forem ser utilizadas */
:root{
    --text-color: #667085;
    --main-color: #8E2424; 
    --title-color:#101828;
}

/* css - menu header */
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    left: 0px;
    right: 0px;
    top: 0px;
}

a{
    text-decoration: none;
    color: var(--title-color);
}
ul li{
    text-decoration: none;
    list-style: none;
    color: var(--title-color);
}

.box_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;

}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;

}
.title_logo{
    font-weight: 500;
    font-size: 18px;
    margin-left: 1rem;
}
.list_header{
display: flex;
flex-direction: row;
align-items: center;
}
.list_header{
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color);
    line-height: 24px;
}
li{
    padding-right: 4rem;
}
.btn{
    margin-right: 2rem;
}
#entrar{
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color);
    line-height: 24px;
}
#cadastrar{
    background: var(--main-color);
    border: 1px solid var(--main-color);
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 10px 18px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

/* section cabeçalho */
.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
}
.span_cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.span_cabecalho > span{
    color: var(--main-color);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.title_cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 32px;
}
.title_cabecalho > h1{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.02rem;
    color: var(--title-color);
}
.pr_cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0px 0px;
    width: 790px;
}
.pr_cabecalho > p{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: var(--text-color);
}

/* css - section - métricas */
.metricas{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 32px;
}
.container_metricas{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    grid-gap: 32px;
}
.content_box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}
.title_number > h1{
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.02rem;
    color: var(--main-color);
}
.pr_metricas{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 280px;
    height: 84px;
}
.pr_metricas > span{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--title-color);
}
.pr_metricas > p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:var(--text-color);
    
}

/* css - section - talentos */
.container_talentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
}
.box_text_talentos{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.item_text_talentos{
    padding: 1rem;
}
.box_text_talentos > span{
    color: var(--main-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    background: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
    padding: 4px 16px;
}
.box_text_talentos > h1{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02rem;
    color: var(--title-color);
}
.box_text_talentos > p{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color:var(--text-color);
}

/* css - section - vagas */
.box_vagas{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 32px;
}
.item1{
    margin-bottom: 64px;
}
.content_vagas > span{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--title-color);
}
.content_vagas{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card_vagas{
    background: #ffffff;
    border: 1px solid #eaecf0;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 24px 24px 28px;
    width: 800px;
    margin-bottom: 24px;
}
.titulo_vagas{
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    color: var(--title-color);
}
.inf_vagas > span{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
}